QChromosome/QChromosome.pro.user
*.autosave
build*
QtChromosomeViz_v2/bartekm_code/message_format/*
!QtChromosomeViz_v2/bartekm_code/message_format/*.proto
QtChromosomeViz_v2/bartekm_code/include/config.h

